body{
    background-color: rgb(35, 67, 211);
}
header{
    text-align: center;
    color: white;
}
section{
    width: 390px;
    height: 300px;
    border-radius: 15px;
    background-color: white;
    margin: auto;
    padding: 40px;
}
footer{
    text-align: center;
    color: white
}
select{
    margin-left: 140px;
    margin-top: 50px;
    height: 200px;
    width: 100px;
}