<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/static/favicon.ico">
    <title>Basileia | Login</title>

    <link rel="stylesheet" href="/static/vendor/craftingstore.net/assets/shops/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/vendor/craftingstore.net/assets/shops/css/themes/flatly.min.css">
    <link rel="stylesheet" href="/static/vendor/craftingstore.net/assets/shops/css/store.min.css">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
        integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
</head>

<body>
    <div class="overflow-hidden">

        <!-- container -->
        <div class="container">
            <div class="form-container">
                {% if lastRedirected.from is defined %}
                <form class="form" action="/login?from={{ lastRedirected.from }}" method="post">
                    {% else %}
                    <form class="form" action="/login" method="post">
                        {% endif %}
                        {% if lastTry.failed %}
                        <div class="form__error-container">
                            <p class="form__message--error">Usuário e/ou senha não coincidem</p>
                        </div>
                        {% endif %}
                        <h1 class="form__title">Entrar</h1>
                        <div class="form__message form__message--error"></div>
                        <div class="form__input-group">
                            <input type="text" name="username" class="form__input" autofocus placeholder="Nickname"
                                required>
                            <div class="form__input-error-message"></div>
                        </div>
                        <div class="form__input-group">
                            <input type="password" name="password" class="form__input" autofocus placeholder="Senha"
                                required>
                            <div class="form__input-error-message"></div>
                        </div>
                        <button class="form__button" type="submit">Continue</button>
                        <br>
                        <p class="form__text">As mesmas credenciais usadas para logar no minecraft podem ser usadas
                            aqui!</p>
                    </form>
            </div>
            <div class="headerbg"></div>

            <script src="/static/vendor/craftingstore.net/assets/shops/js/jquery.min.js" data-no-instant></script>
            <script src="/static/vendor/craftingstore.net/assets/shops/js/bootstrap.min.js" data-no-instant></script>
            <script src="/static/vendor/craftingstore.net/assets/shops/js/store.js" data-no-instant></script>

        </div>

        {% include "footer.njk" %}
    </div>
</body>

</html>